In [1]:
#Q1. Create one variable containing following type of data:

#(i) string
#(ii) list
#(iii) float
#(iv) tuple
b=[8.45, 'Kundan', [1,2,3,2+7j], (78, 4,5, 7)]
b

[8.45, 'Kundan', [1, 2, 3, (2+7j)], (78, 4, 5, 7)]

In [2]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

var2 = '[ DS , ML , Python]'
type(var2)

str

In [3]:
var1 =''
type(var1)

str

In [4]:
var3 = ['DS','ML','Python']
type(var3)

list

In [5]:
var4 = 1
type(var4)

int

In [6]:
#Q3. Explain the use of the following operators using an example:
#(i) /:-  This opereator is basically use for division, division betweeen two number. Example:-  100/2
#(ii) %:- This opereator is used to get the remindr of two divered number Example:- 100/3
#(iii) //:- This Operator is used to divide the two number but this will result whole number or integer, which is less than or equal to the normal division result
# example:- 100//7
#(iv) **:- This operator is basically used to get the power if a number. Example:- 2**4

a=100/2
print ('a=',a)
b=100%3
print ('b=',b)
c=100//7
print('c=',c)
d=2**4
print('d=',d)

a= 50.0
b= 1
c= 14
d= 16

In [7]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

j=[1,34,78.5, 'kundan', ('kks', 56, 0.5), 2+4j, [2,3,4,5], 'kudan345', 0.34, -123]
for i in j:
    print(i, 'Type of element', type(i))

1 Type of element <class 'int'>
34 Type of element <class 'int'>
78.5 Type of element <class 'float'>
kundan Type of element <class 'str'>
('kks', 56, 0.5) Type of element <class 'tuple'>
(2+4j) Type of element <class 'complex'>
[2, 3, 4, 5] Type of element <class 'list'>
kudan345 Type of element <class 'str'>
0.34 Type of element <class 'float'>
-123 Type of element <class 'int'>

In [8]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.
k= [345, 678, 453, 699, 1, 2, 3, 4, 5, 15, 21, 68, 95, 34, 900, 487, 18, 300, 45, 27, 66543, 9876, 3689, 3878, 8753]
for i in k:
    if i%3==0:
        print(i,'is divisible by 3')

345 is divisible by 3
678 is divisible by 3
453 is divisible by 3
699 is divisible by 3
3 is divisible by 3
15 is divisible by 3
21 is divisible by 3
900 is divisible by 3
18 is divisible by 3
300 is divisible by 3
45 is divisible by 3
27 is divisible by 3
66543 is divisible by 3
9876 is divisible by 3

In [9]:
#What do you understand about mutable and immutable data types? Give examples for both showing
#this property.
# Mutable:- Mutable is when something is changeable or has the ability to change. In Python, ‘mutable’ is the ability of objects to change their values. 
# Immutable:- Immutable is the when no change is possible over time. In Python, if the value of an object cannot be changed over time, then it is known as immutable.

p= [5, 7, 9, 4]
p[3]= 78
p

[5, 7, 9, 78]

In [10]:
q=(6,8,3,2)
q[0]=45

TypeError: 'tuple' object does not support item assignment

In [15]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

a=int(input('enter the value of a'))
b=int(input('enter the value of b'))
i=0
if a%b==0:
    print('number is divisible')
    while i<b:
        if a%i==0:
            print(i)
            i=i+1

SyntaxError: invalid syntax (4231060315.py, line 9)